.experinceListBody {
    font: #02142e;
    border-radius: 30px;
    background-color: #87aedf;
    padding: 1%; margin: 2%;
    overflow: hidden;
}

.experienceListContainer {
    display: grid;
    text-align: left;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 10px;
    overflow-y: scroll;
}

.experience-title-list {
    text-align: left;
}

.experience-other-listtext {
    text-align: left;
}

.experienceListImage {
    width: 80%; height: 80%;
    border-radius: 50px;
    background-color: #a6c7f1;
    padding: 5%;
}

.experienceListImage img {
margin-top: 8px;
float: left; 
height: 60%;
width: 60%;
margin: 0 10px 0 0;
border-radius: 30px;
}

.ratingImage img {
/* margin-top: 8px; */
float: left; 
height: 30px;
width: 90px;
margin: 0 10px 0 0;
}
