/* Basics */
body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: #031927;
  background: linear-gradient(0deg, #5abbdc, #5abbdc, #c1e8f5) fixed;
  /* background: linear-gradient(0deg, #93d7ed, #93d7ed, #FFFFFF) fixed; */
}

div {
  font: #031927; text-align: center; margin: 1%; padding: 1%;
  opacity: 0%; animation: glow 1s forwards;
}
@keyframes glow {
  100%{
      opacity: 100%;
  }
}

@keyframes ExperienceInteraction1 {
  100% {
    transform: scale(1.3); z-index: 5;
    box-shadow: 0px 1px 20px 10px rgba(255, 255, 255, 0.9);
    }
}

.carousel-container{
  border-radius: 100px;
  transition: 0.3;
}
.carousel-container:hover{
  animation: images 1s forwards;
}
@keyframes images {
  100% {
    opacity: 100%;
  }
}

.carousel-container img {
  width: 100%; height: 100%;
  object-fit: cover; border-radius: 50px;
  transition: opacity 0.5s ease;
}